provider:
  name: aws

policy: upsert-only

extraArgs:
   - --aws-zone-type=public
domainFilters:
  - spider-shlomo.com   
revisionHistoryLimit: 0  
registry: noop
txtOwnerId: "" 
serviceAccount:
  create: true 
  name: external-dns-service-account
sources:
  - ingress  
  region: us-east-1  