provider:
  name: aws

serviceAccount:
  create: true
  name: external-dns
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::148088962203:role/external-dns-role
policy: upsert-only

extraArgs:
   - --aws-zone-type=public
   - --aws-prefer-cname
domainFilters:
  - spider-shlomo.com   
revisionHistoryLimit: 0  
registry: noop
txtOwnerId: "" 
sources:
  - ingress  
env:
  - name: AWS_DEFAULT_REGION
    value: us-east-1