#argocd1
global:
  domain: argocd.spider-shlomo.com

configs:
  params:
    server.insecure: true

  # RBAC for application argo cd
  rbac:
    policy.default: role:admin
    policy.csv: |
      p, role:role:admin, *, *, *, allow
      g, "admin", role:admin
          
# Ingress for argo cd  
server:
  ingress:
    enabled: true
    controller: aws
    ingressClassName: alb
    annotations:
      alb.ingress.kubernetes.io/scheme: internet-facing
      alb.ingress.kubernetes.io/target-type: ip
      alb.ingress.kubernetes.io/backend-protocol: HTTP
      alb.ingress.kubernetes.io/security-groups: sg-00fe19f31662ab60d
      alb.ingress.kubernetes.io/subnets: subnet-0afb72122b64f4a07,subnet-02ae7815f5c741302
      alb.ingress.kubernetes.io/listen-ports: '[{"HTTPS":80}, {"HTTPS":443}]'
      alb.ingress.kubernetes.io/certificate-arn: arn:aws:acm:us-east-1:148088962203:certificate/9ba7867a-705a-4146-8cce-efca36ca6c78
      alb.ingress.kubernetes.io/ssl-redirect: '443'
    aws:
      serviceType: ClusterIP
      backendProtocolVersion: GRPC